<h1>Listing blogs</h1>


 <div class="table-responsive">
      <div class="table">

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        
        <div class="span6">  <td><%= blog.post %></td> </div>
        <div class="span3"><td><%= image_tag blog.image_url(:thumb).to_s %></td></div>
        <div class="span3"><td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
          </tr>
    <% end %>
  </tbody>

   </div>
</div>
<br>


<% content_for :adding do %>
<%= render 'form' if user_signed_in? %>


<% end %>

