<h1>Listing blogs</h1>


 <div class="table-responsive">
      <div class="table">

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        
          <td><%= blog.post %></td>
        <td><%= image_tag blog.image_url(:thumb).to_s %></td><br>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td><br>
        <br>
          </tr>
    <% end %>
  </tbody>

   </div>
</div>
<br>


<% content_for :adding do %>
<%= render 'form' if user_signed_in? %>


<% end %>

